%div{ layout: "column", "layout-align" => "center center", "layout-fill" => "" }
	%h2.ccm-title {{'how_it_works.pros.profile_tab.title' | t}}
	%hr.search-title
	%ul.ccm-carousel{ "rn-carousel" => "", "rn-carousel-auto-slide" => "8", "rn-carousel-pause-on-hover" => "", "rn-carousel-controls" => "", "rn-carousel-controls-allow-loop" => "", "layout-align" => "center center" }
		%li
			.ccm-box{ "layout-gt-md" => "row", layout: "column", "layout-align" => "center center" }
				%div{ flex: "5", "hide-sm" => "", "hide-md" => "" }
				.ccm-image{ flex: "100", "flex-gt-md" =>"45" }
					= image_tag "how-it-works/pros/CCM-Pros-1.jpg"
				.ccm-description{ flex: "100", "flex-gt-md" =>"50" } {{'how_it_works.pros.profile_tab.content_0' | t}}

		%li
			.ccm-box{ "layout-gt-md" => "row", layout: "column", "layout-align" => "center center" }
				.ccm-description{ flex: "100", "flex-gt-md" =>"50" } {{'how_it_works.pros.profile_tab.content_1' | t}}
				%div{ flex: "5", "hide-sm" => "", "hide-md" => "" }
				.ccm-image{ flex: "100", "flex-gt-md" =>"35" }
					= image_tag "how-it-works/pros/CCM-Pros-2.jpg"
				%div{ flex: "10", "hide-sm" => "", "hide-md" => "" }

		%li
			.ccm-box{ "layout-gt-md" => "row", layout: "column", "layout-align" => "center center" }
				%div{ flex: "5", "hide-sm" => "", "hide-md" => "" }
				.ccm-image{ flex: "100", "flex-gt-md" =>"45" }
					= image_tag "how-it-works/pros/CCM-Pros-3.jpg"
				.ccm-description{ flex: "100", "flex-gt-md" =>"50" } {{'how_it_works.pros.profile_tab.content_2' | t}}

		%li
			.ccm-box{ "layout-gt-md" => "row", layout: "column", "layout-align" => "center center" }
				.ccm-description{ flex: "100", "flex-gt-md" =>"50" } {{'how_it_works.pros.profile_tab.content_3' | t}}
				%div{ flex: "5", "hide-sm" => "", "hide-md" => "" }
				.ccm-image{ flex: "100", "flex-gt-md" =>"40" }
					= image_tag "how-it-works/pros/CCM-Pros-4.jpg"
				%div{ flex: "5", "hide-sm" => "", "hide-md" => "" }

		%li
			.ccm-box{ "layout-gt-md" => "row", layout: "column", "layout-align" => "center center" }
				%div{ flex: "5", "hide-sm" => "", "hide-md" => "" }
				.ccm-image{ flex: "100", "flex-gt-md" =>"45" }
					= image_tag "how-it-works/pros/CCM-Pros-5.jpg"
				.ccm-description{ flex: "100", "flex-gt-md" =>"50" } {{'how_it_works.pros.profile_tab.content_4' | t}}

		%li
			.ccm-box{ "layout-gt-md" => "row", layout: "column", "layout-align" => "center center" }
				.ccm-description{ flex: "100", "flex-gt-md" =>"50" } {{'how_it_works.pros.profile_tab.content_5' | t}}
				%div{ flex: "10", "hide-sm" => "", "hide-md" => "" }
				.ccm-image{ flex: "100", "flex-gt-md" =>"30" }
					= image_tag "how-it-works/pros/CCM-Pros-6-1.jpg"
				%div{ flex: "10", "hide-sm" => "", "hide-md" => "" }

		%li
			.ccm-box{ "layout-gt-md" => "row", layout: "column", "layout-align" => "center center" }
				%div{ flex: "5", "hide-sm" => "", "hide-md" => "" }
				.ccm-image{ flex: "100", "flex-gt-md" =>"45" }
					= image_tag "how-it-works/pros/CCM-Pros-7.jpg"
				.ccm-description{ flex: "100", "flex-gt-md" =>"50" } {{'how_it_works.pros.profile_tab.content_6' | t}}