Bonjour #{@user_name}

Votre offre a été acceptée pour la raison suivante :
= @accept_reason

Voici l'annonce concernée :
- if @conversation.classified_ad.title.present?
  = @conversation.classified_ad.title

= l @conversation.classified_ad.created_at, format: :short

= @content

Voir l'annonce : #{@classified_ad_path}