Bonjour

Votre annonce a été signalée pour la raison suivante :
#{@reject_reason}
Voici l'annonce concernée :

- if @classified_ad.title.present?
  = @classified_ad.title
= l @classified_ad.created_at, format: :short

= @content

Voir l'annonce : #{admin_classified_ad_url(@classified_ad)}