.page-header
  %h1= @user.company_name.present? ? @user.company_name : "#{@user.first_name} #{@user.last_name}"

.row
  .col-sm-6
    .row
      .col-sm-3
        %strong Nom
      .col-sm-9= @user.display_name
    .row
      .col-sm-3
        %strong Email
      .col-sm-9= @user.account.account_emails.first.email
    .row
      .col-sm-3
        %strong Website
      .col-sm-9= @user.website
    .row
      .col-sm-3
        %strong Introduction
      .col-sm-9= @user.short_description
  .col-sm-6
    .row
      .col-sm-3
        %strong Prem. conn.
      .col-sm-9= @user.first_login
    .row
      .col-sm-3
        %strong Der. conn.
      .col-sm-9= @user.last_login
    .row
      .col-sm-3
        %strong 
          - if @user.active?
            %span.glyphicon.glyphicon-ok.text-success
          - else
            %span.glyphicon.glyphicon-remove.text-danger
          Actif
      .col-sm-9
        = form_for [:admin, @user] do |f|
          - if @user.active?
            = hidden_field_tag :active, 0
            %button.btn.btn-danger.btn-xs{ type: "submit"} Désactiver
          - else
            = hidden_field_tag :active, 1
            %button.btn.btn-success.btn-xs{ type: "submit"} Activer
    .row
      .col-sm-3
        %strong
          - if @user.admin?
            %span.glyphicon.glyphicon-ok.text-success
          - else
            %span.glyphicon.glyphicon-remove.text-danger
          Admin
      .col-sm-9
        = form_for [:admin, @user]  do |f|
          - if @user.admin?
            = hidden_field_tag :admin, 0
            %button.btn.btn-danger.btn-xs{ type: "submit"} Supp. droits admin
          - else
            = hidden_field_tag :admin, 1
            %button.btn.btn-success.btn-xs{ type: "submit"} Donner droits admin
- if @user.is_pro? && @reviews.present?
  .row
    .col-sm-12
      %strong Customer reviews
      .table-responsive
        %table.table.table-striped
          %thead
            %tr
              %th #
              %th Content
              %th Rating
              %th User
              %th Date
              %th Action
          %tbody
            - @reviews.each do |review|
              %tr
                %td= review.id
                %td= review.content[0..50]
                %td= review_rating(review.rating)
                %td
                  = link_to admin_user_path(review.user), class: "btn btn-default btn-xs" do
                    = review.user.display_name
                %td= review.created_at
                %td
                  = link_to "Voir", admin_review_path(review), class: "btn btn-default btn-xs"
                %td
                  = link_to admin_review_path(review), class: 'btn btn-danger btn-xs', method: :delete, title: "Supprimer review #{review.id}", data: {confirm: "Vous allez supprimer le review #{review.id}. Etes-vous sûr ?"} do
                    %i.fa.fa-times